h1 {
	font-family: helvetica;
	font-weight: 600;
	text-align: center;
	margin-bottom: 20px;
}

img {
	width: 300px;
	height: 300px;
	padding-left: 8px;
}

ul {
	width: 90%;
	margin-left:5%; 
    margin-right:5%;
  list-style-type: none;
}

li {
	float: left;
}

table.stats {
	margin-top: 50px;
	width: 32%;
	margin-left:34%; 
    margin-right:34%;
}

th {
	font-family: helvetica;
	font-weight: 400px;
	font-style: bold;
}

td {
	font-family: helvetica;
	font-weight: 200px;
	text-align: center;
}

a {
	text-align: center;
}
